DB_HOST=db
DB_NAME=soundhaven3
DB_USER=sh_user
DB_PASS=your_password_here
DB_CHARSET=utf8mb4

# Configuracoes de E-mail SMTP
SMTP_HOST=mail
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=none
MAIL_FROM_ADDRESS=soundhaven.midiacollection@gmail.com
MAIL_FROM_NAME="SoundHaven 3"